@import url('https://fonts.google.com/specimen/Montserrat');
.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
color: hsl(228, 45%, 44%);
}

.top-img{
position: absolute;
right: 0;
}

.bottom-img{
position: absolute;
bottom: 0;
}

/* .bg-container{
  background-color: #F7F7FF;
} */

.heading{
    color: #707192;
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 5rem;
}

body{
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  height: 100vh;
  background-color: #F7F7FF;
}

*{
  padding: 0;
  margin: 0;
}

/* toggle css code  */

.container{
  width : 15%;
  height : 20%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  background-color: #F7F7FF;
}

.button{
  background-color: #787EE0;
  width: 75px;
  height: 36px;
  border-radius: 60px; 
  cursor: pointer;
  position: relative;
  transition: 0.2s;
}

.button::before{
  position: absolute;
  content: '';
  background-color: #fff;
  width: 32px;
  height: 31px;
  border-radius: 60px;
  margin: 2px;
  transition: 0.2s;
}

input:checked + .button{
  background-color: #787EE0;

}

input:checked + .button::before{
  transform: translateX(36px);
  
}

input{
  display: none;
}

.period-container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
} 

.annually{
  font-family: "Montserrat";
  margin-top: 0.4rem;
}

.monthly{
  font-family: "Montserrat";
  margin-top: 0.4rem;
}

.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.basic{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #FFFFFF;
  flex-basis: 350px;
  height: 440px;
  background-color: #FFFFFF;
  border-radius: 0.8rem;
}

.proffesional{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  flex-basis: 350px;
  height: 500px;
  color: #fff;
  /* background-color: #9FA2EF; */
  background: linear-gradient(to bottom, #9FA2EF, #787EE0);
  border-radius: 0.8rem;
}

.master{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #FFFFFF;
  flex-basis: 350px;
  height: 440px;
  background-color: #FFFFFF;
  border-radius: 0.8rem;

}

.proffesional-heading{
  margin-top: 4.5rem;
  font-size: 16px;
}

.pro-price{
  display: flex;
  justify-content: center;
  /* border: 1px solid; */
  margin-top: 1rem;
  /* border-bottom: 1px solid #d4d4e1; */
  padding-bottom: 1rem;
}

.dollar{
  margin-right: .5rem;
  align-self: center;
  font-size: 2rem;
}

/* .pro-price-number{
  font-size: 3.5rem;
  font-weight: 800;
  font-size: 4.5rem;
} */

.pro-price-number-annual{
  font-size: 3.5rem;
  font-weight: 800;
  font-size: 4.5rem;
}

.pro-price-number-monthly{
  font-size: 3.5rem;
  font-weight: 800;
  font-size: 4.5rem;
}



.storage{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hr-line{
  /* flex-basis: 250px; */
  width: 80%;
  height: 1px;
  background-color: #eaeaf4;
}

.learn-more-button{
  color: #787EE0;
  background-color: #fff;
  margin-top: 3rem;
  padding-right: 4.25rem;
  padding-left: 4.25rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  font-size: 16px;
  border-radius: 0.38rem;
  font-weight: 500;
  border: 0px solid;
}

.basic-heading{
  color: #484B60;
  margin-top: 2.5rem;
  font-size: 16px;
}

.learn-more-button-basic{
  color: #fff;
  background: linear-gradient(to right, #9FA2EF, #787EE0);
  margin-top: 3rem;
  padding-right: 4.25rem;
  padding-left: 4.25rem;
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
  font-size: 16px;
  border-radius: 0.38rem;
  font-weight: 500;
  border: 0px solid;
}